body{
    background-image: url("../img/herobg.jpg");
}

input::placeholder{
    text-align: center;
}

.li-e-concordo{
    color: white
}

.btn-primary{
    background-color: linear-gradient(to right, rgb(25, 32, 25), rgb(47, 80, 47));
}